<!DOCTYPE html>
<html>
	<head>
		<meta name="robots" content="noindex">
		<meta charset="UTF-8">
		<meta name="author" content="Bibliocratie">
		<meta name=viewport content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="http://bibliocratie.s3.amazonaws.com/compressor/favicon.png">
		<title>
			Bibliocratie | 500
		</title>
		<style>
			body {font-family: "Helvetica Neue", Helvetica, "Source Sans Pro", Arial, sans-serif; max-width: 600px; margin: 100px 0 0 100px;}
			#biblio {font-size: 35px; color: #991826; margin-bottom: 30px; font-weight: 500;}
			.title {font-size: 20px; color: #000; padding-bottom: 10px; font-weight: 500;}
			.expli {font-size: 16px; color:#232C32;}
			.sep {max-width: 200px; background-color: #ccc; max-height: 1px; margin:20px 0;}
		</style>
	</head>
	<body>
		<div id="biblio">
			Bibliocratie
		</div>
		<div class="title">
			Une erreur 500 s'est produite.
		</div>
		<div class="expli">
			Nous travaillons à la corriger rapidement. N'hésitez pas à rafraîchir la page.
		</div>
		<div class="sep">&nbsp;</div>
		<div class="title">
			A 500 error occured.
		</div>
		<div class="expli">
			We're working to fix it shortly. In the meantime, try refreshing.
		</div>
		<br>
		<div class="sep">&nbsp;</div>
		<br>
		<div class="expli">
			contact@example.com<br>+33 (0)6 85 48 41 53 (lun-vend : 9h - 21h Paris)
		</div>
	</body>
</html>