<!DOCTYPE html>
<html>
	<head>
		<meta name="robots" content="noindex">
		<meta charset="UTF-8">
		<meta name="author" content="Bibliocratie">
		<meta name=viewport content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="http://bibliocratie.s3.amazonaws.com/compressor/favicon.png">
		<title>
			Bibliocratie | Maintenance
		</title>
		<style>
			body {font-family: "Helvetica Neue", Helvetica, "Source Sans Pro", Arial, sans-serif; max-width: 600px; margin: 100px 0 0 100px;}
			#biblio {font-size: 35px; color: #991826; margin-bottom: 30px; font-weight: 500;}
			.title {font-size: 20px; color: #000; padding-bottom: 10px; font-weight: 500;}
			.expli {font-size: 16px; color:#232C32;}
			.sep {max-width: 200px; background-color: #ccc; max-height: 1px; margin:20px 0;}
		</style>
	</head>
	<body>
		<div id="biblio">
			Bibliocratie
		</div>
		<div class="title">
			Temporairement en maintenance
		</div>
		<div class="expli">
			Nous procédons à une maintenance programée du site.<br>Nous serons de retour très vite - le temps d'un baiser.
		</div>
		<div class="sep">&nbsp;</div>
		<div class="title">
			Temporarily down for maintenance
		</div>
		<div class="expli">
			We're performing scheduled maintenance.<br>We should be back online shortly - like "time for a kiss" shortly.
		</div>
	</body>
</html>